---
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import figmaIcon from "public/assets/figma-icon.png";
import goIcon from "public/assets/go-icon.png";
import jsIcon from "public/assets/js-icon.png";
import nextIcon from "public/assets/next-icon.png";
import reactIcon from "public/assets/react-icon.png";
import tsIcon from "public/assets/ts-icon.png";

import ProjectCard from "@/components/projectCard/ProjectCard.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import FixedLayout from "@/layouts/FixedLayout.astro";
import { projects } from "@/static/content/projects";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedProjects = projects[lang];
---

<FixedLayout>
  <section class="flex w-full flex-1 flex-col">
    <div
      class="flex flex-1 flex-col justify-center md:flex-[0.5]"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h1
        class="text-center font-heading text-3xl font-bold md:text-start md:text-4xl 2xl:text-5xl"
      >
        {t("home.title")}
      </h1>
      <div class="space-y-4 text-center md:w-[50%] md:text-start 2xl:w-[30%]">
        <p>
          {t("home.description")}
        </p>
        <p>{t("home.learning")}</p>
      </div>
    </div>
  </section>
  <section class="flex w-full flex-1 flex-col space-y-4 md:flex-row">
    <div
      class="flex flex-1 flex-col justify-center md:flex-[0.5]"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h3 class="font-heading text-xl font-bold md:text-3xl 2xl:text-3xl">
        {t("home.skills.title")}
      </h3>
      <p>
        {t("home.skills.description")}
      </p>
    </div>
    <div
      transition:animate={fade({ duration: "500ms" })}
      class="flex w-full flex-1 flex-row items-center justify-center space-x-4 md:flex-[0.5] md:justify-end"
    >
      <Image
        src={reactIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-8 w-8 object-contain md:h-14 md:w-14"
      />
      <Image
        src={nextIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-8 w-8 object-contain md:h-14 md:w-14"
      />
      <Image
        src={jsIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-8 w-8 object-contain md:h-14 md:w-14"
      />
      <Image
        src={tsIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-8 w-8 object-contain md:h-14 md:w-14"
      />
      <Image
        src={figmaIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-8 w-8 object-contain md:h-14 md:w-14"
      />
      <Image
        src={goIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-8 w-8 object-contain md:h-14 md:w-14"
      />
    </div>
  </section>
  <section class="flex w-full flex-1 flex-row">
    <div
      class="flex flex-1 flex-col justify-center"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h3 class="font-heading text-xl font-bold md:text-3xl 2xl:text-3xl">
        {t("home.featured.projects")}
      </h3>
      <div class="flex flex-1 flex-col space-y-4 md:flex-row md:space-x-6">
        {
          translatedProjects.map((project) => (
            <ProjectCard
              name={project.name}
              description={project.description}
              url={project.url}
            />
          ))
        }
      </div>
    </div>
  </section>
  <section class="flex w-full flex-1 flex-row">
    <div
      class="flex flex-1 flex-col"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h3 class="font-heading text-xl font-bold md:text-3xl 2xl:text-3xl">
        {t("home.featured.articles")}
      </h3>
      <div class="flex flex-1 flex-row space-x-6">
        <p class="text-xl">{t("coming.soon")}</p>
      </div>
    </div>
  </section>
</FixedLayout>
