---
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import figmaIcon from "public/assets/figma-icon.png";
import goIcon from "public/assets/go-icon.png";
import jsIcon from "public/assets/js-icon.png";
import nextIcon from "public/assets/next-icon.png";
import reactIcon from "public/assets/react-icon.png";
import tsIcon from "public/assets/ts-icon.png";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import FixedLayout from "@/layouts/FixedLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<FixedLayout>
  <section class="flex w-full flex-1 flex-col">
    <div
      class="flex flex-[0.5] flex-col justify-center"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h1 class="font-heading text-4xl font-bold 2xl:text-5xl">
        {t("home.title")}
      </h1>
      <div class="w-[50%] space-y-4 2xl:w-[30%]">
        <p>
          {t("home.description")}
        </p>
        <p>{t("home.learning")}</p>
      </div>
    </div>
  </section>
  <section class="flex w-full flex-1 flex-row">
    <div
      class="flex flex-[0.5] flex-col justify-center"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h3 class="font-heading text-3xl font-bold 2xl:text-3xl">
        {t("home.skills.title")}
      </h3>
      <p>
        {t("home.skills.description")}
      </p>
    </div>
    <div
      transition:animate={fade({ duration: "500ms" })}
      class="flex w-full flex-[0.5] flex-row items-center justify-end space-x-4"
    >
      <Image
        src={reactIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-14 w-14 object-contain"
      />
      <Image
        src={nextIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-14 w-14 object-contain"
      />
      <Image
        src={jsIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-14 w-14 object-contain"
      />
      <Image
        src={tsIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-14 w-14 object-contain"
      />
      <Image
        src={figmaIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-14 w-14 object-contain"
      />
      <Image
        src={goIcon}
        alt="LN Dev Logo"
        decoding="async"
        loading="lazy"
        class="h-14 w-14 object-contain"
      />
    </div>
  </section>
  <section class="flex w-full flex-1 flex-row">
    <div
      class="flex flex-1 flex-col justify-center"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h3 class="font-heading text-3xl font-bold 2xl:text-3xl">
        {t("home.featured.projects")}
      </h3>
      <div class="flex flex-1 flex-row space-x-6">
        <div class="flex w-[33%] flex-col">
          <h5 class="text-xl font-bold text-accent">luiznormanha.dev_</h5>
          <p>
            Personal portfolio made using Figma and Astro for learning purposes.
          </p>
        </div>
        <div class="flex w-[33%] flex-col">
          <h5 class="text-xl font-bold text-accent">Negotiation 7.0 App_</h5>
          <p>
            App for the Negotiation 7.0 methodology for negotiations made using
            React Native.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="flex w-full flex-1 flex-row">
    <div
      class="flex flex-1 flex-col"
      transition:animate={fade({ duration: "500ms" })}
    >
      <h3 class="font-heading text-2xl font-bold 2xl:text-3xl">
        {t("home.featured.articles")}
      </h3>
      <div class="flex flex-1 flex-row space-x-6">
        <div class="flex w-[25%] flex-col space-y-2">
          <h5 class="text-md font-bold underline">
            My 2024 objectives and perspectives
          </h5>
          <p>15 Feb 2024 - 6 MIN READ</p>
        </div>
      </div>
    </div>
  </section>
</FixedLayout>
